---
layout: default
permalink: /topics.html
title: titles.topics
---
<h4 class="headline">
  {% t topics_page.header %}
</h4>

<div class="posts">
  {% for topic in site.topics %}
    {% capture topic_strings %}topics.{{topic.tag_name}}{% endcapture %}
    <h1><a class="link" href="{{ topic.url }}">{% t {{topic_strings}}.title %}</a></h1>
    <p>{% t topics.meta.blurb %}</p>

    <ul>
      {% assign posts_filtered = site.posts | reverse | where: "topic", topic.tag_name %}
      {% for post in posts_filtered limit: 5 %}
        <li>
          <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
          <span class="inline">
            <span style="font-style: italic;">{% include date.html date=post.date %}</span>
            --
            <span class="inline" style="font-size: medium;">{{ post.excerpt }}</span>
          </span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}
</div>